html, body {
    height: 100%;
}
body {
    background-color: rgb(30,77,144) !important;
}

.secondary_color {
    background-color: rgb(31, 76, 145) !important;
}

.billing_secondary_color {
    background-color: rgb(121, 147, 189) !important;
}

.secondary_font_color {
    color: rgb(31, 76, 145) !important;
    font-weight: 500;
}

.font-weight-500 {
    font-weight: 500;
}


.StripeElement {
    box-sizing: border-box;
    
    height: 40px;
    
    padding: 10px 12px;
    
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    }
    
    .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
    }
    
    .StripeElement--invalid {
    border-color: #fa755a;
    }
    
    .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
    }