{% extends 'base.html' %}
{% block body_content %}
<div class="container h-100">
    <div class="row my-auto h-100">
        <div class="card my-auto mx-auto p-5">
            <h4 class="text-center mb-5">Choose the right plan for you</h4>
            <div class="row">
                <div class="col-md-4" style="margin-top: 40px;">
                    <div>
                        <span class="rounded-pill bg-primary p-3"><span class="rounded-pill bg-light p-2">Monthly</span>&nbsp;&nbsp;<span class="text-white">Yearly</span></span>
                    </div>
                </div>
                {% for ptype in plan_types %}
                    <div class="col-md-2 text-center text-white">
                        <div class="p-5" style="background-color: rgb(32, 32, 121);">
                            {{ptype}}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <div>
                        Monthly Price
                    </div>
                </div>
                {% for price in prices %}
                    <div class="col-md-2 text-center">
                        <div>
                            ₹ {{price}}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>

            <div class="row mt-1">
                <div class="col-md-4">
                    <div>
                        Video Quality
                    </div>
                </div>
                {% for quality in video_qualities %}
                    <div class="col-md-2 text-center">
                        <div>
                            {{quality}}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>

            <div class="row mt-1">
                <div class="col-md-4">
                    <div>
                        Resolution
                    </div>
                </div>
                {% for resolution in resolutions %}
                    <div class="col-md-2 text-center">
                        <div>
                            {{resolution}}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>

            <div class="row mt-1">
                <div class="col-md-4">
                    <div>
                        Devices you can use to watch
                    </div>
                </div>
                {% for device_list in devices %}
                    <div class="col-md-2 text-center">
                        {% for device in device_list %}
                            <div class="mt-5">{{device}}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
 </div>
{% endblock %}